<%- include('../partials/admin/header') %>

<style>
  body {
    background-color: rgb(0, 0, 0);
  } 
  .userProfileMain {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
  }

  .userProfileH1 {
    width: 100%;
    margin: 10px;
    font-family: "Baloo", cursive;
    color: white;
    font-size: 6vw;
  }

  .breadcrumbCls {
    background-color: rgb(0, 0, 0);
  }
</style>

<section>
  <div class="pb-5 text-center">
    <div class="card userProfileMain rounded">
      <h1 class="userProfileH1">Banner Managment</h1>
    </div>
  </div>
</section>

<section>
  <div class="card" style="margin: 50px">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Place</th>
            <th>Current Image</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
