<%- include('../partials/admin/header') %>

<style>
  .userProfileMain {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
  }

  .userProfileH1 {
    width: 100%;
    margin: 10px;
    font-family: "Baloo", cursive;
    color: white;
    font-size: 6vw;
  }

  .breadcrumbCls {
    background-color: rgb(0, 0, 0);
  }
</style>

<section>
  <div class="pb-5 text-center">
    <div class="card userProfileMain rounded">
      <h1 class="userProfileH1">Order Confirm</h1>
    </div>
  </div>
</section>

<section class="container my-5">
  <div class="container table-responsive text-capitalize">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Date</th>
          <th scope="col">Product(s)</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Amount</th>
          <th scope="col">Delivery Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (orders && orders.length > 0) { %> <% orders.forEach((order, index) => { %>
        <tr class="align-middle text-center">
          <td class="p-4"><%- index + 1 %></td>
          <td>
            <%= order.customerId.name %> (<%= order.customerId.email %>)<br /><br />
            <p id="orderId" data-order-id="<%= order._id %>">Order Id: <%= order._id %></p>
          </td>
          <td><%- order.createdAt.toLocaleDateString('en-GB') %></td>
          <td>
            <% order.items.forEach(item => { %> <%= item.productId.name %><br />
            <% }) %>
          </td>
          <td>
            <p name="paymentStatus" id="paymentStatus" value="<%= order.paymentStatus %>"><%= order.paymentStatus %></p>
          </td>
          <td><%- order.paymentMethod %></td>
          <td>₹<%= order.totalPrice %></td>
          <td>
            <% newOrderDetails.forEach(item => { %>
              <select class="form-select" name="paymentStatus" id="deliveryStatus" data-order-id="<%= order._id %>">
                <% 
                  const statuses = ["Pending", "Shipped", "Delivered", "Cancelled"];
                  statuses.forEach(status => { 
                    // Check if the status should be included and if it's the current status
                    if (status !== item.status) { %>
                      <option value="<%= status %>"><%= status %></option>
                    <% } else { %>
                      <option value="<%= status %>" selected><%= status %></option>
                    <% }
                  }); 
                %>
              </select>
              
            <% }) %>
          </td>
          <td>
            <div class="d-flex justify-content-center p-4">
              <% if (order.status) { %>
              <a href="/admin/orderList">
                <button type="button" id="updateButton" class="btn btn-sm btn-dark">Update</button>
              </a>
              <% } %>
            </div>
          </td>
        </tr>
        <% }) %> <% } else { %>
        <td colspan="8" class="text-danger">No Orders Available</td>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<%- include('../partials/admin/footer') %>

<script>
  document.querySelectorAll(".form-select").forEach((select) => {
    select.addEventListener("change", function () {
      const deliveryStatus = document.getElementById("deliveryStatus").value;
      const id = document.getElementById("orderId").dataset.orderId;

      fetch("/admin/orderList", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ deliveryStatus, id }),
      })
        .then((response) => {
          if (!response.ok) {
            return response.json().then((err) => {
              throw new Error(err.error);
            });
          }
          return response.json();
        })
        .then(() => {
          Swal.fire({
            icond: "success",
            title: "Success",
            timer: 3000,
            showConfirmation: false,
            text: "Order updated successfully!",
          }).then(() => location.reload());
        })
        .catch((err) => {
          Swal.fire({
            icon: "error",
            title: "Oops",
            timer: 3000,
            showConfrimButton: false,
            text: "Couldn't update the status of the delivery",
          });
        });
    });
  });
</script>
