<%- include('../../views/partials/user/header') %>

<body>
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h4>Shop</h4>
            <div class="breadcrumb__links">
              <a href="/">Home</a>
              <span>Shop</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Shop Section Begin -->
  <section class="shop spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="shop__sidebar">
            <div class="shop__sidebar__search">
              <form action="#">
                <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Search..." />
                <button type="submit"><span class="icon_search"></span></button>
              </form>
            </div>
            <div class="shop__sidebar__accordion">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                  </div>

                  <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                          <li>
                            <% categories.forEach(category => { %>
                            <a href="?category=<%= category._id %>&sort=<%= req.sort || '' %>"><%= category.name %></a>


                            <% }); %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                  </div>
                  <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                          <% brand.forEach(brand => { %>
                          <li>
                            <a href="#" data-brand-id="<%= brand._id %>" onclick="filterByCategory('<%= brand._id %>')"> <%= brand.name %> </a>
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                  </div>
                  <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__price">
                        <ul>
                          <li><a href="#">₹0.00 - ₹500</a></li>
                          <li><a href="#">₹500 - ₹1000</a></li>
                          <li><a href="#">₹1000 - ₹2000</a></li>
                          <li><a href="#">₹2000 - ₹3000</a></li>
                          <li><a href="#">₹3000 - ₹4000</a></li>
                          <li><a href="#">₹4000 + </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                  </div>
                  <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                          <% size.forEach(size => { %>
                          <li>
                            <a href="#" data-size-id="<%= size._id %>" onclick="filterByCategory('<%= size._id %>')"> <%= size.value %> </a>
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                  </div>
                  <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__color">
                        <% colors.forEach(color => { %>
                        <label class="c-<%= color._id %>" style="background-color: <%= color.hex %>" for="color_<%= color._id %>">
                          <input
                            type="radio"
                            id="color_<%= color._id %>"
                            name="color"
                            value="<%= color._id %>"
                            onclick="filterByColor('<%= color._id %>')"
                          />
                        </label>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                  </div>
                  <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__tags">
                        <a href="#">Product</a>
                        <a href="#">Bags</a>
                        <a href="#">Shoes</a>
                        <a href="#">Fashio</a>
                        <a href="#">Clothing</a>
                        <a href="#">Hats</a>
                        <a href="#">Accessories</a>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__left">
                  <p>Showing 1–<%= products.length %> of <%= productCount %> results</p>
                </div>
              </div>


              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__right d-flex flex-row justify-content-end">
                  <p p-2>Sort :&nbsp;&nbsp;</p>


                  <form action="" method="get" id="sortForm">
                    <input type="hidden" name="category" value="<%= req.category || '' %>">
                    <select name="sort" onchange="this.form.submit()">
                      <option value="">Select Sort Order</option>
                      <option value="low-to-high">Price: Low To High</option>
                      <option value="high-to-low">Price: High To Low</option>
                      <option value="a-z">A - Z</option>
                      <option value="z-a">Z - A</option>
                    </select>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- This is product -->

          <div class="container">
            <div class="row" id="myUL">
              <% products.filter(product => product.isActive).forEach((product, index) => { %>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-4 product-item" data-category-id="<%= product.category._id %>">
                <div class="product__item">
                  <div class="product__item__pic set-bg">
                    <a href="/user/product-list/<%= product._id %>">
                      <img
                        src="/uploads/images/<%= product.primaryImages[0] ? product.primaryImages[0].name : product.secondaryImages[0].name %>"
                        alt="<%= product.productName %>"
                      />
                    </a>
                    <ul class="product__hover">
                      <li>
                        <a href="#">
                          <img src="../../public/img/icon/heart.png" alt="" />
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../../public/img/icon/compare.png" alt="" />
                          <span>Compare</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../../public/img/icon/search.png" alt="" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6><%= product.name %></h6>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <h5>₹<%= product.sellingPrice %>.00</h5>
                    <div class="product__color__select">
                      <label for="pc-7">
                        <input type="radio" id="pc-7" />
                      </label>
                      <label class="active black" for="pc-8">
                        <input type="radio" id="pc-8" />
                      </label>
                      <label class="grey" for="pc-9">
                        <input type="radio" id="pc-9" />
                      </label>
                    </div>

                    <% let totalStock = 0; %> <% product.variants.forEach(variant => { %> <% totalStock +=variant.stock; %> <% }); %> <% if
                    (totalStock > 0) { %>
                    <a href="/user/add-to-cart" class="add-cart">+ Add To Cart</a>
                    <% } else { %>
                    <a href="#" class="out-of-stock">Out of Stock</a>
                    <% } %>
                  </div>
                </div>
                <div class="product-action-1 show"></div>
              </div>

              <% if ((index + 1) % 3 === 0 && index !== products.length - 1) { %>
            </div>
            <div class="row"><% } %> <% }); %></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Shop Section End -->

  <script>
    document.getElementById("sortSelect").addEventListener("change", function () {
      const sortValue = this.value; // Get the selected sort value
      if (sortValue) {
        // Check if a valid sort option is selected
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("sort", sortValue); // Set the sort parameter
        window.location.href = currentUrl.toString(); // Redirect to the updated URL
      }
    });
  </script>

  //
  <script>
    //     document.addEventListener('DOMContentLoaded', function () {
    //     const filterButtons = document.querySelectorAll('.filter-btn');
    //     const sortSelect = document.getElementById('sortSelect');

    //     filterButtons.forEach(button => {
    //         button.addEventListener('click', function () {
    //             const categoryId = this.getAttribute('data-category');
    //             applyFilterSort(categoryId, sortSelect.value);
    //         });
    //     });

    //     sortSelect.addEventListener('change', function () {
    //         const activeCategoryButton = document.querySelector('.filter-btn.active');
    //         const categoryId = activeCategoryButton ? activeCategoryButton.getAttribute('data-category') : 'all';
    //         applyFilterSort(categoryId, this.value);
    //     });

    //     function applyFilterSort(categoryId, sort) {
    //         const query = `?category=${categoryId}&sort=${sort}`;
    //         window.location.href = `/products${query}`;
    //     }
    // });

    //
  </script>

  <script>
    function myFunction() {
      var input, filter, ul, li, h6, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByClassName("product-item");

      for (i = 0; i < li.length; i++) {
        h6 = li[i].getElementsByTagName("h6")[0];
        txtValue = h6.textContent || h6.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Function to fetch products from the backend
      async function fetchProducts() {
        try {
          console.log("Fetching products...");
          const response = await fetch("/user/product-details/:id");
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          const products = await response.json();
          console.log("Products fetched:", products); // Log the fetched products
          renderProducts(products);
        } catch (error) {
          console.error("Error fetching products:", error);
        }
      }

      // Function to render products
      function renderProducts(products) {
        const productGrid = document.querySelector(".product-grid");
        productGrid.innerHTML = "";

        products.forEach((product) => {
          const productCard = document.createElement("div");
          productCard.className = "product-card";
          productCard.innerHTML = `
                ${product.offerpercentage > 0 ? '<div class="sale-badge">SALE</div>' : ""}
                <img src="${product.primaryImages[0]?.path || "placeholder.jpg"}" alt="${product.name}">
                <h3>${product.name}</h3>
                <div class="rating">${renderRating(product.ratings)}</div>
                <p class="price">$${product.price.toFixed(2)}</p>
            `;
          productGrid.appendChild(productCard);
        });
      }

      // // Function to render star ratings
      // function renderRating(ratings) {
      //   const averageRating = ratings.length
      //     ? ratings.reduce((sum, rating) => sum + rating.rating, 0) /
      //       ratings.length
      //     : 0;
      //   let stars = "";
      //   for (let i = 0; i < 5; i++) {
      //     stars +=
      //       i < averageRating
      //         ? '<span class="rating-star">★</span>'
      //         : '<span class="rating-star">☆</span>';
      //   }
      //   return stars;
      // }

      // // Function to sort products by price
      // function sortProducts(products) {
      //   const sortValue = document.getElementById("sort").value;
      //   products.sort((a, b) => {
      //     if (sortValue === "low-high") {
      //       return a.price - b.price;
      //     } else {
      //       return b.price - a.price;
      //     }
      //   });
      //   renderProducts(products);
      // }

      // // Fetch products on page load
      // fetchProducts();
    });
  </script>
</body>

<%- include('../../views/partials/user/footer') %>
